/.cache/
/.codex/
/.config/
/.git/
/.ssh/
/.oh-my-bash/
/.dotnet/
/.local/
/.cache/
/.docker/
/.vscode-server/
/.copilot/
.*$
.bash_history
.bash_logout
.bashrc
.bashrc.omb-backup-20260326142253
.lesshst
.osh-update
.profile
.sdirs
.sqlite_history
.sudo_as_admin_successful
.viminfo
.cache/motd.legal-displayed
.cache/Microsoft/DeveloperTools/deviceid
.codex/
.codex/*
.wget-hsts
caddy-root.crt
llm-stack/xclip
llm-stack/adapter/__pycache__/
llm-stack/certs/*
llm-stack/data/*
llm-stack/grafana-data/*
.gitconfig
